$inputHeight: 32px;
$borderRadius: 5px;
$mainColor: #3f57b3;
$secondColor: #ddd;
$transitionTime: ease-in;

//content
$contentWidthDesk: 1200px;
$contentWidthTab: 768px;
$contentWidthMob: 480px;
$contentPadding: 15px;
