$inputHeight: 32px;
$borderRadius: 5px;
$mainColor: #3f57b3;
$secondColor: #ddd;
$transitionTime: ease-in;

//content
$desktop: 1200px;
$tablet: 768px;
$phone: 480px;

//sizes
$desktopCardWidth: 287px;
$tabletCardWidth: 363px;
$phoneCardWidth: 450px;
