.gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  // justify-content: center;
  // max-width: 2500px;
}

.photo-card {
  transition: transform 250ms $transitionTime;

  &:hover,
  &:focus {
    transform: scale(1.03);
  }
}

.image__photo-card {
  display: block;
  width: 300px;
  height: calc(300px / 1.57px);
  object-fit: cover;
}

.info {
  display: flex;
  padding: 10px;
  gap: 10px;
  font-size: 0.8em;
  line-height: 1.2em;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.info-item {
  display: block;
  margin-inline: auto;
  text-align: center;

  &__header {
    font-weight: 700;
  }
}

.info-item__header,
.info-item__value {
  margin: 0;
}

.sl-wrapper .sl-image .sl-caption {
  background: $mainColor;
  color: $secondColor;
}
