.container {
  width: 1300px;
  margin-block: auto;
  display: block;
  margin: 0 auto;
}

// footer {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 50px;
//   background-color: #333;
//   color: #fff;
//   text-align: center;
// }
